%main#registration-new
  .signup-panel
    %p.signup-panel__title 会員登録完了
    .form-content
      .form-group
        %p.form-info--tell
          ありがとうございました。
          %br 会員登録が完了しました。
      .signup-btn
        %input{class: "submit",type:"submit", url:root_path,value:"メルカリをはじめる"}
= render 'shared/footer'