= render 'shared/header'
.container-damy
  #mypage-wrapper
    = render "mypage/left-content"

    .right-content
      .logout-field
        %form.logout-form{action: "/", method: :delete}
          .logout-container
            %button.btn-submit{type: "submit"} ログアウト


