.breadcrumbs__container {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  z-index: 3;

  .breadcrumbs {
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    overflow: visible;
    width: 1020px;

    .current {
      font-weight: 600;
    }

    .fa-chevron-right {
      margin: 0 8px;
      font-size: 9px;
      color: #888;
    }
  }
}
