@mixin list {
  line-height: 1.4em;
  margin: 16px 0px 0px;
}

@mixin heading {
  font-size: 16px;
  line-height: 1.4em;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@mixin top-contents {
  display: inline-block;
  margin-top: 18px;
  vertical-align: top;
  width: auto;
  padding: 0px 40px 0px 0px;
}

@mixin middle-contents {
  vertical-align: top;
  width: 50%;
}

@mixin link {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.advertisement {
  color: rgb(255, 255, 255);
  margin-top: auto;
  background-image: url(/images/mercari_bottom_image.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  height: 250px;

  &__wrapper {

    &__contents {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 750px;
      margin: 0px auto;

      &__left {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;

        &__top {
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        &__middle {
          color: rgb(255, 255, 255);
          font-size: 35px;
          margin-bottom: 20px;
        }

        &__bottom {

          img {
            height: 68px;
            margin-right: 20px;
            width: 68px;
          }

          .apple {

            &__image {
              height: 40px;
              margin-right: 8px;
              width: 144px;
            }
          }

          .google {

            &__image {
              height: 40px;
              width: 144px;
            }
          }
        }
      }

      &__right {
        margin: 0;

        img {
          height: 260px;
          width: 300px;
        }
      }
    }
  }
}

.footer {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;

  &__top {
    width: 1020px;
    margin: 0px auto;
    display: flex;

    &__left {
      padding-left: 0px;
      @include top-contents;

      &__heading {
        @include heading;
      }

      &__list {
        @include list;

        a {
          @include link;
        }
      }

      .twitter {

        display: inline-block;
        margin-top: 30px;

        .fa-twitter {
          max-width: 100%;
          height: auto;
          max-height: 100%;
          width: 30px;
          margin-right: 20px;
          color: white;
          font-size: 30px;
        }
      }

      .facebook {
        display: inline-block;
        margin-top: 30px;

        .fa-facebook-square {
          max-width: 100%;
          height: auto;
          max-height: 100%;
          width: 26px;
          color: white;
          font-size: 30px;
        }
      }
    }
    &__right {
      @include top-contents;

      &__heading {
        @include heading;
      }

      &__list {
        @include list;

        a {
          @include link;
        }
      }
    }



    &__middle {
      margin-top: 18px;
      padding-right: 40px;
      width: 43%;
      display: inline-block;
      vertical-align: top;

      &__heading {
        @include heading;
      }

      &__wrapper {
        display: flex;

        &__left {
          padding-right: 10px;
          @include middle-contents;
  
          &__list {
            @include list;
  
            a {
              @include link;
            }
          }
        }
  
        &__right {
          padding-left: 10px;
          @include middle-contents;
  
          &__list {
            @include list;
  
            a {
              @include link;
            }
          }
        }
      }
    }

    &__low {
      margin-top: 18px;
      width: auto;
      padding: 0px 40px 0px 0px;
      display: inline-block;
      vertical-align: top;

      &__heading {
        @include heading;
      }

      &__list {
        @include list;

        a {
          @include link;
          display: block;
          margin: 16px 0px 0px;
        }
      }
    }
  }

  &__low {
    width: 1020px;
    margin: 30px auto 20px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;

    a {
      text-align: center;

      img {
        height: 50px;
        width: 150px;
      }
    }

    &__copyright {
      text-align: center;
      padding-left: 15px;
      width: 75%;
    }
  }
}

