.left-content
  .left-content__mypage-list
    %ul
      %li
        = link_to "マイページ", mypage_path, id: "mypage", class: "active"
      %li
        %a#notice{href: "#"} お知らせ
      %li
        %a#todo{href: "#"} やることリスト
      %li
        %a#like{href: "#"} いいね！一覧
      %li
        %a#sell{href: "#"} 出品する
      %li
        %a#selling{href: "#"} 出品した商品 - 出品中
      %li
        %a#dealing{href: "#"} 出品した商品 - 取引中
      %li
        %a#selled{href: "#"} 出品した商品 - 売却済み
      %li
        %a#purchase-dealing{href: "#"} 購入した商品 - 取引中
      %li
        %a#purchase-dealed{href: "#"} 購入した商品 - 過去の取引
      %li
        %a#news{href: "#"} ニュース一覧
      %li
        %a#rate-list{href: "#"} 評価一覧
      %li
        %a#guid{href: "#"} ガイド
      %li
        %a#contact{href: "#"} お問い合わせ
  .left-content__merpay
    %h4.heading メルペイ
    %ul
      %li
        %a#sales{href: "#"} 売上・振込申請
      %li
        %a#point{href: "#"} ポイント
  .left-content__options
    %h4.heading 設定
    %ul
      %li
        = link_to "プロフィール", mypage_profile_path, id: "profile" 
      %li
        %a#deliver-address{href: "#"} 発送元・お届け先住所変更
      %li
        %a#payment{href: "#"} 支払い方法
      %li
        %a#email-password{href: "#"} メール/パスワード
      %li
        %a#identification{href: "#"} 本人情報
      %li
        %a#tel-confirmation{href: "#"} 電話番号の確認
      %li
        %a#logout{href: "#"} ログアウト