.content-tab
  %ul.content-tab-list
    %li.content-tab-list__notice.tab-list.active
      %h3
        %a{href: "#"} お知らせ
    %li.content-tab-list__todo.tab-list
      %h3
        %a{href: "#"} やることリスト
  .content-tab-show
    %p お知らせの商品がありません