#products-buy
  = render "layouts/simple-header"
  %main
    %section.container
      %h2.container-head
        購入内容の確認
      %section.buy-content
        .buy-content-inner
        %h3.buy-item-image
          %img.item-image{}
        %p.buy-item-name
        %form.buy-form
          %p.buy-price
            ¥2,000
            %span.item-shipping-fee
              送料込み
          %ul.accordion-toggle
            %li
              %div
                ポイントはありません
          %ul.buy-price-table
            %li
              %div
                支払い金額
              .buy-price-cell
                %span
                  ¥2,000
          %p.has-error-text
            配送先と支払い方法の入力を完了してください。
          %button.buy-btn
      %section.buy-content
        .buy-content-inner
          %h3
            配送先
          %address.buy-user-info-text
            〒000-0000
            %br
            北海道豊富町
            %br
            ほげほげ
          %p.buy-user-info-text
          %a.buy-user-info-fix
            %span
              変更
            %i.icon-arrow-right
      %section.buy-content
        .buy-content-inner
          %h3
            支払い方法
          %p.buy-user-info-text
          %figure
            %img
          %p
          %a.buy-user-info-fix
            %span
              変更する
            %i.icon-arrow-right
  = render "layouts/simple-footer"